@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  
}
th::selection{
  color: black;
  background-color: white;
}
td::selection{
  color: black;
  background-color: white;
}
img::selection{
  color: black;
  background-color: white;
}
button::selection{
  color: black;
  background-color: white;
}
p::selection{
  color: black;
  background-color: white;
}
a::selection{
  color: black;
  background-color: white;
}
Link::selection{
  color: black;
  background-color: white;
}
h3::selection{
  color: black;
  background-color: white;
}
.perspective {
    perspective: 1000px; /* Adjust to enhance the 3D depth effect */
  }
  
  @keyframes rotateSide {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(90deg); /* Rotate halfway, showing the side */
    }
    100% {
      transform: rotateY(0deg); /* Return to the front */
    }
  }

    
  

  .rotating-side-logo {
    animation: rotateSide 5s ease-in-out infinite; /* Smooth tilting effect */
    transform-style: preserve-3d; /* Keep the 3D perspective */
  }
  
  .merch-text {
    background: url('/background.webp') center center / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .animate-scroll {
    display: inline-block; /* Ensures the text stays in one line */
    animation: scroll 10s linear infinite; /* Scrolls continuously */
    white-space: nowrap; /* Prevents text wrapping */
  }
  .fade-out {
    opacity: 1;
    transition: opacity 1s ease-out; /* Fade-out transition */
  }
  
  .fade-out-active {
    opacity: 0; /* Fully transparent */
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards; /* Fade-in transition */
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  