@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
body {
  background-color: black;
}

/* Selection Styling */
Link > *::selection,
marquee::selection,
Marquee::selection,
th::selection,
td::selection,
img::selection,
button::selection,
p::selection,
a::selection,
Link::selection,
h3::selection {
  color: black;
  background-color: white;
}

/* Perspective and Animation */
.perspective {
  perspective: 1000px;
}

.rotating-side-logo {
  animation: rotateSide 5s ease-in-out infinite;
  transform-style: preserve-3d;
}

@keyframes rotateSide {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
}

/* Merch Text with Background */
.merch-text {
  background: url('/background.webp') center / cover no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Animate Scroll */
.animate-scroll {
  display: inline-block;
  animation: scroll 10s linear infinite;
  white-space: nowrap;
}

/* Fade Animations */
.fade-out {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.fade-out-active {
  opacity: 0;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
